[Apache Parquet](https://arrow.apache.org/docs/python/parquet.html) is an efficient columnar storage format. Compared to saving this dataset in csvs using parquet:
- Greatly reduces the necessary disk space
- Loads the data into Pandas with memory efficient datatypes
- Enables fast reads from disk
- Allows us to easily work with partitions of the data

Pandas has a parquet integration that makes loading data into a dataframe trivial; we'll try that now.

In [6]:
import pandas as pd
import numpy as np
import glob
import os
os.chdir('C:\Finance_projects\Optiver-Realized-Volatility-Prediction\data')

## all unique stock ids in book data
# same stocks are also in trade data (Verified!)
subset_paths = glob.glob('book_train.parquet/stock_id=*')
unique_stocks_id = []
for path in subset_paths:
    unique_stocks_id.append(int(path.split('=')[1]))

unique_stocks_id = np.sort(np.array(unique_stocks_id))
print('total # stocks: ',len(unique_stocks_id))
unique_stocks_id

total # stocks:  112

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  46,  47,  48,  50,  51,  52,  53,  55,  56,  58,
        59,  60,  61,  62,  63,  64,  66,  67,  68,  69,  70,  72,  73,
        74,  75,  76,  77,  78,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       118, 119, 120, 122, 123, 124, 125, 126])

In [3]:
## check that there is only one parquet file in each stock for book and trade
each_stock_parquet_files = []
for st_id in unique_stocks_id:
    subset_paths = glob.glob('book_train.parquet/stock_id='+str(st_id)+'/*') #book_train or trade_train
    each_stock_parquet_files.append(len(subset_paths))
print('total_parquet_files: ', np.sum(np.array(each_stock_parquet_files)))
print('total # stocks: ',len(unique_stocks_id))

total_parquet_files:  112
total # stocks:  112

In [4]:
## single stock book data 

for st_id in unique_stocks_id:
    if st_id != 0: # selec the stock to display here
        continue
    book_train = pd.read_parquet('book_train.parquet/stock_id='+str(st_id))
    select_id = st_id

print('stock id '+str(select_id))
book_train

stock id 0

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100
...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28

In [5]:
## check datatypes
print(book_train.info())

book_train_0 = pd.read_parquet('book_train.parquet/stock_id=0')
book_train_0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917553 entries, 0 to 917552
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   time_id            917553 non-null  int16
 1   seconds_in_bucket  917553 non-null  int16
 2   bid_price1         917553 non-null  float32
 3   ask_price1         917553 non-null  float32
 4   bid_price2         917553 non-null  float32
 5   ask_price2         917553 non-null  float32
 6   bid_size1          917553 non-null  int32
 7   ask_size1          917553 non-null  int32
 8   bid_size2          917553 non-null  int32
 9   ask_size2          917553 non-null  int32
dtypes: float32(4), int16(2), int32(4)
memory usage: 31.5 MB
None

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100
...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28

In [66]:
""" Realized volatility calculation of first 10 mins"""

train = pd.read_csv('c:/Finance_projects/Optiver-Realized-Volatility-Prediction/data/train.csv')

def log_return(list_stock_prices):
    return np.log(list_stock_prices).diff() 

def realized_volatility(series_log_return):
    return np.sqrt(np.sum(series_log_return**2))

def realized_volatility_per_time_id(file_path, prediction_column_name):
    df_book_data = pd.read_parquet(file_path)
    df_book_data['wap'] =(df_book_data['bid_price1'] * df_book_data['ask_size1']+df_book_data['ask_price1'] * df_book_data['bid_size1'])  / (
                                      df_book_data['bid_size1']+ df_book_data[
                                  'ask_size1'])
    df_book_data['log_return'] = df_book_data.groupby(['time_id'])['wap'].apply(log_return).values
    df_book_data = df_book_data[~df_book_data['log_return'].isnull()]
    df_realized_vol_per_stock =  pd.DataFrame(df_book_data.groupby(['time_id'])['log_return'].agg(realized_volatility)).reset_index()
    df_realized_vol_per_stock = df_realized_vol_per_stock.rename(columns = {'log_return':prediction_column_name})
    stock_id = file_path.split('=')[1]
    df_realized_vol_per_stock['row_id'] = df_realized_vol_per_stock['time_id'].apply(lambda x:f'{stock_id}-{x}')
    return df_realized_vol_per_stock[['row_id',prediction_column_name]]


def past_realized_volatility_per_stock(list_file,prediction_column_name):
    df_past_realized = pd.DataFrame()
    for file in list_file:
        df_past_realized = pd.concat([df_past_realized,
                                     realized_volatility_per_time_id(file,prediction_column_name)])
    return df_past_realized

list_order_book_file_train = glob.glob('C:/coursera/Optiver-Realized-Volatility-Prediction/data/book_train.parquet/*')

df_past_realized_train = past_realized_volatility_per_stock(list_file=list_order_book_file_train,
                                                           prediction_column_name='first_10_min_vol')

train['row_id'] = train['stock_id'].astype(str) + '-' + train['time_id'].astype(str)
train = train[['row_id','target']]
df_joined = train.merge(df_past_realized_train[['row_id','first_10_min_vol']], on = ['row_id'], how = 'left')

## save all stocks 20-min vol in data folder
df_joined.to_parquet('20_min_volatility.parquet\\20_min_volatility_all_stocks.parquet')

In [81]:
## save individual stocks 20-min vol in data folder
for st_id in unique_stocks_id:
    df_st = df_joined[df_joined['row_id'].apply(lambda x: x.split('-')[0]) == str(st_id)]
    df_st.to_parquet('20_min_volatility.parquet\\stock_'+str(st_id)+'_20_min_vol.parquet')

In [18]:
## check if time_ids in train.csv and book_train.parquet match for all the stocks
## check_time_ids_match_for_each_stock_in_train_with_book_train

train = pd.read_csv('c:/Finance_projects/Optiver-Realized-Volatility-Prediction/data/train.csv')
def verify_all_stocks_time_id_match(train,unique_stocks_id):
    for st_id in unique_stocks_id:
        book_train = pd.read_parquet('trade_train.parquet/stock_id='+str(st_id)) #book_train or trade_train
        book_train_time_ids = book_train['time_id'].unique()
        train_st = train[train['stock_id'] == st_id]
        train_st_time_ids = train_st['time_id'].unique()
        if np.array_equal(book_train_time_ids,train_st_time_ids):
            st_id
            #print('stock id '+str(st_id)+' time ids match')
        else:
            print('stock id '+str(st_id)+' time ids do not match')
            print('missing in train_st_time_ids', [i for i in book_train_time_ids if i not in train_st_time_ids])
            print('missing in book_train_time_ids', [i for i in train_st_time_ids if i not in book_train_time_ids])            
            #print('train time ids: ',train_st_time_ids)
            #return False
    return 


verify_all_stocks_time_id_match(train,unique_stocks_id)

stock id 18 time ids do not match
missing in train_st_time_ids []
missing in book_train_time_ids [8524]
stock id 31 time ids do not match
missing in train_st_time_ids []
missing in book_train_time_ids [985, 3987, 5539, 5629, 6197, 8753, 8840, 9208, 12011, 13377, 13663, 15010, 20017, 22498, 28186, 32174]
stock id 37 time ids do not match
missing in train_st_time_ids []
missing in book_train_time_ids [62]
stock id 103 time ids do not match
missing in train_st_time_ids []
missing in book_train_time_ids [9664]