In [38]:
import pandas as pd
import numpy as np
import glob
import os
os.chdir('C:\coursera\Optiver-Realized-Volatility-Prediction\data')

## all unique stock ids in book data
# same stocks are also in trade data 
subset_paths = glob.glob('book_train.parquet/stock_id=*')
unique_stocks_id = []
for path in subset_paths:
    unique_stocks_id.append(int(path.split('=')[1]))

unique_stocks_id = np.sort(np.array(unique_stocks_id))
print('total # stocks: ',len(unique_stocks_id))
unique_stocks_id

total # stocks:  112

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  46,  47,  48,  50,  51,  52,  53,  55,  56,  58,
        59,  60,  61,  62,  63,  64,  66,  67,  68,  69,  70,  72,  73,
        74,  75,  76,  77,  78,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       118, 119, 120, 122, 123, 124, 125, 126])

In [19]:
## single stock book data 

for st_id in unique_stocks_id:
    if st_id != 1: # selec the stock to display here
        continue
    book_train = pd.read_parquet('book_train.parquet/stock_id='+str(st_id))
    select_id = st_id
print('stock id '+str(select_id))
book_train

stock id 1

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.000754,1.001542,1.000689,1.001607,1,25,25,100
1,5,1,1.000754,1.001673,1.000689,1.001739,26,60,25,100
2,5,2,1.000754,1.001411,1.000623,1.001476,1,25,25,125
3,5,3,1.000754,1.001542,1.000689,1.001607,125,25,126,36
4,5,4,1.000754,1.001476,1.000623,1.001542,100,100,25,25
...,...,...,...,...,...,...,...,...,...,...
1507527,32767,588,0.998911,0.999109,0.998812,0.999208,126,42,101,100
1507528,32767,589,0.998911,0.999109,0.998812,0.999208,126,126,101,200
1507529,32767,591,0.998911,0.999109,0.998812,0.999208,126,226,101,200
1507530,32767,592,0.998911,0.999109,0.998812,0.999208,226,225,101,100
1507531,32767,593,0.998911,0.999109,0.998812,0.999208,125,225,101,100